In [9]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# import tw politician test data

In [6]:
filein_tw_list_path = "../../../data/data_tw_wikis/1 - politician data for test scraping/"

In [5]:
twtest = pd.read_excel(filein_tw_list_path+"tw_testset.xlsx")

# import names of politicians with scraped websites

In [116]:
filein_tw_sites_path = "../../../data/data_tw_wikis/2.1 - tw wikipedia scraping test/"

In [117]:
scrapednames = os.listdir(filein_tw_sites_path)
len(scrapednames)

654

In [118]:
scrapednames[0:5]

['test_丁守中.html',
 'test_丁振嘉.html',
 'test_何偉.html',
 'test_何博文.html',
 'test_何啟聖.html']

In [119]:
scrapednames = [item.split("_")[1].split(".")[0] for item in scrapednames]

In [120]:
scrapednames[0:5]

['丁守中', '丁振嘉', '何偉', '何博文', '何啟聖']

In [121]:
twscraped=pd.DataFrame(scrapednames,columns=["Name_Native"])

In [122]:
twscraped["Wiki"]=1

In [123]:
twscraped[0:5]

  Name_Native  Wiki
0         丁守中     1
1         丁振嘉     1
2          何偉     1
3         何博文     1
4         何啟聖     1

# join twscraped to twtest

In [124]:
twtest["Wiki"]=0
twtest = twtest.merge(twscraped,on="Name_Native",how="left",suffixes=("","_scraped"))
twtest.loc[twtest.Wiki_scraped.notnull(),["Wiki"]]=1
twtest.drop(columns=["Wiki_scraped"],inplace=True)

In [125]:
twtest.shape

(3386, 24)

In [127]:
twtest[0:1]

,Name_Native,Name_Chinese,Birthdate,Sex,Age,ElectionCategory,ElectionDate,Position,L1_Division,L2_Division,L3_Division,ElectionDistrict,Party,CandidateNumber,CandidateStatus,WonElection,VoteCount,VotePercent,IncumbentStatus,Occupation,Education,Career1,Career2,Wiki
0,丁勇智,丁勇智,1970,男,46,Executive Yuan,20160116,Legislator,屏東縣,NaN,NaN,第03選區,自由台灣黨,5,NaN,0,375,0.29,否,NaN,NaN,NaN,NaN,0

# website coverage of candidates & winners, overall

In [128]:
# total
coverage0 = pd.DataFrame(index=["overall"])
coverage0["candidate_count"] = [twtest.shape[0]]
coverage0["candidate_withpage"] = [twtest[~(twtest.Wiki==0)].shape[0]]
coverage0["candidate_coverage"] = coverage0["candidate_withpage"] / coverage0["candidate_count"]
coverage0["winner_count"] = [twtest[twtest.WonElection==1].shape[0]]
coverage0["winner_withpage"] = [twtest[~(twtest.Wiki==0) & twtest.WonElection==1].shape[0]]
coverage0["winner_coverage"] = coverage0["winner_withpage"] / coverage0["winner_count"]

In [129]:
coverage0

,candidate_count,candidate_withpage,candidate_coverage,winner_count,winner_withpage,winner_coverage
overall,3386,654,0.193148,1765,403,0.228329

# website coverage of candidates & winners, by election type

In [131]:
twtest[0:1]

,Name_Native,Name_Chinese,Birthdate,Sex,Age,ElectionCategory,ElectionDate,Position,L1_Division,L2_Division,L3_Division,ElectionDistrict,Party,CandidateNumber,CandidateStatus,WonElection,VoteCount,VotePercent,IncumbentStatus,Occupation,Education,Career1,Career2,Wiki
0,丁勇智,丁勇智,1970,男,46,Executive Yuan,20160116,Legislator,屏東縣,NaN,NaN,第03選區,自由台灣黨,5,NaN,0,375,0.29,否,NaN,NaN,NaN,NaN,0

In [132]:
coverage = twtest.groupby(twtest.ElectionCategory).agg(candidate_count=("Name_Native","count"))

In [133]:
coverage["candidate_withpage"] = twtest[~(twtest.Wiki==0)].groupby(twtest.ElectionCategory).agg(candidate_coverage=("Name_Native","count"))

In [134]:
coverage["candidate_coverage"] = coverage["candidate_withpage"] / coverage["candidate_count"]

In [135]:
coverage["winner_count"] = twtest[twtest.WonElection==1].groupby(twtest.ElectionCategory).agg({"Name_Native":"count"})

In [136]:
coverage["winner_withpage"] = twtest[~(twtest.Wiki==0) & twtest.WonElection==1].groupby(twtest.ElectionCategory).agg({"Name_Native":"count"})

In [137]:
coverage["winner_coverage"] = coverage["winner_withpage"] / coverage["winner_count"]

In [138]:
coverage

,candidate_count,candidate_withpage,candidate_coverage,winner_count,winner_withpage,winner_coverage
ElectionCategory,,,,,,
Aboriginal Chief,20,3.0,0.150000,6,NaN,NaN
Aboriginal Representative,94,13.0,0.138298,50,8.0,0.160000
County Legislature,801,140.0,0.174782,490,100.0,0.204082
County Mayor,64,38.0,0.593750,16,13.0,0.812500
Executive Yuan,288,128.0,0.444444,57,49.0,0.859649
Municipal Legislature,639,260.0,0.406886,357,191.0,0.535014
Municipal Mayor,20,11.0,0.550000,6,5.0,0.833333
President and VP,5,5.0,1.000000,2,2.0,1.000000
Township Mayor,469,56.0,0.119403,198,35.0,0.176768
Township Representative,492,NaN,NaN,329,NaN,NaN
Village Chief,494,NaN,NaN,254,NaN,NaN

# coverage, by election type & overall

In [139]:
pd.concat([coverage,coverage0])

,candidate_count,candidate_withpage,candidate_coverage,winner_count,winner_withpage,winner_coverage
Aboriginal Chief,20,3.0,0.150000,6,NaN,NaN
Aboriginal Representative,94,13.0,0.138298,50,8.0,0.160000
County Legislature,801,140.0,0.174782,490,100.0,0.204082
County Mayor,64,38.0,0.593750,16,13.0,0.812500
Executive Yuan,288,128.0,0.444444,57,49.0,0.859649
Municipal Legislature,639,260.0,0.406886,357,191.0,0.535014
Municipal Mayor,20,11.0,0.550000,6,5.0,0.833333
President and VP,5,5.0,1.000000,2,2.0,1.000000
Township Mayor,469,56.0,0.119403,198,35.0,0.176768
Township Representative,492,NaN,NaN,329,NaN,NaN
Village Chief,494,NaN,NaN,254,NaN,NaN
overall,3386,654.0,0.193148,1765,403.0,0.228329